*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
body{
    width: 100%;
    height:100vh;
    /* display: flex; */
    font-family: 'Montserrat';
}
:root{
    --dark:#272643;
    --second:#2c698d;
    --light-bg:#e3f6f5;
    --dark-bg:#bae8e8;
    --primary:#ffff00;
    --black:rgb(7, 7, 7);
    --white:#ffffe6;
    --text-sm:2rem;
    --text-m:4rem;
    --text-l:6rem;
    --text-xl:8rem;
    --text-xxl:10rem;
    --weight-1:100;
    --weight-2:200;
    --weight-3:300;
    --weight-4:400;
    --weight-5:500;
    --weight-6:600;
    --weight-7:700;
    --weight-8:800;
    --pad-sm:1rem;
    --pad-m:1.5rem;
    --pad-l:2rem;
    --pad-xl:3rem;
    --pad-xl:4rem;
    --pad-xxl:6rem;
    --marg-sm:1rem;
    --marg-m:1.5rem;
    --marg-l:2rem;
    --marg-xl:3rem;
    --marg-xl:4rem;
    --marg-xxl:6rem;
}
.header{
    height:100px;
    display:flex;
    justify-content:center;
    background-color: var(--white);
}

.header img{
    width: 50px;
}

.nav li{
    list-style: none;  
}
.nav a{
    text-decoration: none;
    color: var(--primary);
}
.nav ul{
    display: flex;
    justify-content: end;
    margin:0.2rem;
    background-color:var(--black);
    border-radius:10px; 
    padding: var(--pad-m); 
}
.nav li{
    margin-right: var(--marg-m);
}
.nav a:hover{
    background:var(--primary);
    color:var(--black);
    padding:10px;
    border-radius: 5px;
    transition: ease-out .2s;
}
div.banner{
    background: 
    linear-gradient(rgba(15, 15, 15,0.7),rgba(15, 15, 15,0.7)),
     url(./assest/th3.jpg);   
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height:60vh;
    margin:0.2rem;  
    border-radius:10px; 
}
.banner-text{
    margin-left: var(--marg-l);
}
.text{
    color:var(--white);
    font-size:var(--text-m);
    font-weight: var(--weight-5);
    
}
.promo{
    color: var(--white);
    font-size:var(--text-m);
    font-weight: var(--weight-3);
}
.promo-text{
    color: var(--primary);
}
p{
    color: var(--white);
    font-size:var(--text-sm)
}
.content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  

}
.container{
    width:400px;
    height:400px;
    background-color:var(--black);
    margin: 20px;
   
}
.container img{
    width:400px;
    height:200px
}
.container h3{
    color: var(--white);
    margin: 10px;
   
}
.container p{
    font-size: 15px;
    margin: 10px;
  
}
p.info{
    position: absolute;
    top:1;
    left: 1;
    font-size:15px;
    color: var(--black);
    z-index: 1; 
    background-color:var(--primary);
    padding: 5px;
    margin-left: 3px;
    border-radius:4px;
}
.btn{
    text-decoration: none;
    margin-left: 10px;  
    color: var(--black);
    background-color:var(--primary);
    padding: 6px;
    border-radius: 2px;
  
}

.footer{
    display: flex;
    justify-content: space-around;
    background-color:var(--black);
    border-radius:10px 10px 0 0; 
    padding: var(--pad-sm); 
    margin-bottom: 100px;

}
.foot-img img{
    width:200px;
}
.footer-info{
    font-size: 20px;
    justify-content:center;
}
.footer-info::before{
    content: '|';
    color: var(--primary);
    font-size: 3rem;
}